html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-center;
  flex-direction: column;
  background-image: url('./images/spider_man_2012-wallpaper-1920x1080.jpg')
}

#message, #notes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#message {
  font-size: 1.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  padding:0px;
  margin-left: 225px;
  
}

.board div {
  color: green;
  font-size: 2rem;
  width: 75px;
  height: 75px;
  border: 1px #ccc dotted;
  border-radius: 10%;
  background-color: white;
  margin: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board div:hover {
  background-color: white;
}

/*div.mine, div.mine:hover {
  background: no-repeat center/100% url("images/Willem-Dafoe-0.jpg") crimson;
}*/

.w0 {
  background: no-repeat center/100% url("images/Willem-Dafoe-0.jpg") crimson;
}

.w1 {
  background: no-repeat center/100% url("images/Willem-Dafoe-1.jpg") crimson;
}

.w2 {
  background: no-repeat center/100% url("images/Willem-Dafoe-2.jpg") crimson;
}

.w3 {
  background: no-repeat center/100% url("images/Willem-Dafoe-3.jpg") crimson;
}

.w4 {
  background: no-repeat center/100% url("images/Willem-Dafoe-4.jpg") crimson;
}

div.hidden {
  background: #eee;
}

div.hidden:hover {
  background: #ccc;
}

div.marked, div.marked:hover {
  background: no-repeat center/100% url("images/spiderweb-edited.png") red;
}

.invisible {
  display: none;
}

.restart {
  margin-left: 456px;
}

.container {
  background: rgba(255,255,255,0.8);
}